@use 'variables' as *;

:host {
  font-weight: 700;
  padding: var(--block-padding, 20px 40px 20px 50px);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid $course-line-border-color;
  border-radius: $base-gutter;
  box-shadow: 0 9px 15px rgba(226, 226, 226, 0.25);

  &:not(:last-child) {
    margin-bottom: $base-gutter * 2;
  }
}
app-button {
  &:not(:last-child) {
    margin-bottom: var(--button-stack-gap, 8px);
  }
}

.btn-compare {
  position: relative;
  margin-top: 8px;
}
.btn-compare::before {
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 9px;
  mask: url('/icons/shuffle.svg') no-repeat center;
  -webkit-mask: url('/icons/shuffle.svg') no-repeat center;
  background-color: currentColor;
}

.course-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;

  flex: 0 0 $base-gutter * 27;
}

.course-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
