<div class="course-name">
  <span>{{ courseLine.name }}</span>
</div>

<app-school-summary
  [schoolName]="courseLine.school.name"
  [ratingAvg]="courseLine.school.ratingAvg"
  [reviewCount]="courseLine.school.reviewsCount"
/>

<app-course-pricing [pricing]="courseLine.prices" />

<app-course-availability-bage />

<div class="course-features">
  @for (feature of courseFeatures; track $index) {
    <app-course-feature [feature]="feature" />
  }
</div>

<div class="button-group">
  <app-button class="is-accent">На сайт курса</app-button>
  <app-button [routerLink]="['/courses', courseLine.course_slug]">Подробнее</app-button>
  <app-button class="is-light is-no-border is-small btn-compare">
    Добавить к сравнению
  </app-button>
</div>
