@use 'variables' as *;

:host {
  display: block;
  padding: $base-gutter * 10 0;
}
.slider {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__content {
    overflow: hidden;
    filter: drop-shadow(0 4px 26px rgba(203, 203, 203, 0.25));
  }
  &__track {
    display: flex;
    gap: 16px;
    transition: transform 0.3s ease;
    will-change: transform;
  }

  &__nav-btn {
    width: 44px;
    height: 44px;
    background: $accent-color-light;
    border-radius: 50%;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(1, 228, 92, 0.3);

    &:hover {
      background: #00cc50;
    }
  }
  &__nav-btn--prev {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  &__nav-btn--next {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}
