:host {
  display: flex;
  margin-bottom: 10px;
}

.availability {
  display: flex;
  flex-direction: var(--availability-direction, row);
  gap: var(--availability-gap, 8px);
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  text-align: var(--availability-text-align, center);

  &__icon {
    width: 17px;
    height: 17px;
  }

  &__text {
    display: inline-block;
  }
}
