@use 'variables' as *;

:host {
  margin-bottom: $base-gutter * 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $course-columns-item-color;
}

.sort-controls {
  width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  padding: 0;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  position: relative;
}

.control::before,
::after {
  content: '';
  position: absolute;
  right: -15px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.control:before {
  top: 45%;
  border-bottom: 3.5px solid $course-columns-item-color;
  transform: translateY(-90%);
}

.control::after {
  top: 60%;
  border-top: 3.5px solid $course-columns-item-color;
  transform: translateY(0);
}

.labels {
  margin: 0 67px 0 67px;
  display: flex;
  flex-shrink: 0;
  gap: 68px;
}
