<ul class="list-header">
  <li class="list-header__item list-header__item--name">
    <button type="button" class="list-header__control" aria-label="Сортировать по курсу">
      Курс
    </button>
  </li>
  <li class="list-header__item list-header__item--school">
    <button type="button" class="list-header__control">Школа</button>
  </li>
  <li class="list-header__item list-header__item--price">
    <button type="button" class="list-header__control">Цена</button>
  </li>

  <li class="list-header__item list-header__item--duration">
    <button type="button" class="list-header__control">Длительность</button>
  </li>
  <li class="list-header__item list-header__item--advantages">
    <span class="list-header__text">Особенности</span>
  </li>
  <li class="list-header__item list-header__item--link">
    <span class="list-header__text">Ссылка на курс</span>
  </li>
</ul>
