<div class="container">
  <h2>Направления курсов</h2>
  <div class="course-directions">
    <ul class="course-directions-nav">
      <li class="course-directions-nav__item is-active" data-list-target="Программирование">
        <span class="course-directions-nav__title">Программирование</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Маркетинг">
        <span class="course-directions-nav__title">Маркетинг</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Дизайн">
        <span class="course-directions-nav__title">Дизайн</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Аналитика">
        <span class="course-directions-nav__title">Аналитика</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Финансы">
        <span class="course-directions-nav__title">Финансы</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Управление">
        <span class="course-directions-nav__title">Управление</span>
      </li>
      <li class="course-directions-nav__item" data-list-target="Контент-маркетинг">
        <span class="course-directions-nav__title">Контент-маркетинг</span>
      </li>
    </ul>
    <div class="course-directions-content">
      <ul class="course-directions-content__list is-active" data-list-name="Программирование">
        <li class="course-directions-content__item">
          Все курсы по программированию<a href=""></a>
        </li>
        <li class="course-directions-content__item">Python-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Web-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Мобильная разработка<a href=""></a></li>
        <li class="course-directions-content__item">JavaScript-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Java-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр<a href=""></a></li>
        <li class="course-directions-content__item">Создание сайтов<a href=""></a></li>
        <li class="course-directions-content__item">Системное администрирование<a href=""></a></li>
        <li class="course-directions-content__item">QA-тестирование<a href=""></a></li>
        <li class="course-directions-content__item">Android-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Управление разработкой и IT<a href=""></a></li>
        <li class="course-directions-content__item">Frontend-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр на Unity<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C#<a href=""></a></li>
        <li class="course-directions-content__item">PHP-разработка<a href=""></a></li>
        <li class="course-directions-content__item">DevOps<a href=""></a></li>
        <li class="course-directions-content__item">IOS-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Верстка на HTML/CSS<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C++<a href=""></a></li>
        <li class="course-directions-content__item">
          Разработка игр на Unreal Engine<a href=""></a>
        </li>
        <li class="course-directions-content__item">Разработка на Kotlin<a href=""></a></li>
        <li class="course-directions-content__item">Информационная безопасность<a href=""></a></li>
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Маркетинг">
        <li class="course-directions-content__item">Разработка на C++<a href=""></a></li>
        <li class="course-directions-content__item">
          Разработка игр на Unreal Engine<a href=""></a>
        </li>
        <li class="course-directions-content__item">Разработка на Kotlin<a href=""></a></li>
        <li class="course-directions-content__item">Информационная безопасность<a href=""></a></li>
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
        <li class="course-directions-content__item">QA-тестирование<a href=""></a></li>
        <li class="course-directions-content__item">Android-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Управление разработкой и IT<a href=""></a></li>
        <li class="course-directions-content__item">Frontend-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр на Unity<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C#<a href=""></a></li>
        <li class="course-directions-content__item">PHP-разработка<a href=""></a></li>
        <li class="course-directions-content__item">DevOps<a href=""></a></li>
        <li class="course-directions-content__item">IOS-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Верстка на HTML/CSS<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Дизайн">
        <li class="course-directions-content__item">Разработка на C#<a href=""></a></li>
        <li class="course-directions-content__item">PHP-разработка<a href=""></a></li>
        <li class="course-directions-content__item">DevOps<a href=""></a></li>
        <li class="course-directions-content__item">IOS-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Верстка на HTML/CSS<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C++<a href=""></a></li>
        <li class="course-directions-content__item">
          Разработка игр на Unreal Engine<a href=""></a>
        </li>
        <li class="course-directions-content__item">Разработка на Kotlin<a href=""></a></li>
        <li class="course-directions-content__item">Информационная безопасность<a href=""></a></li>
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Аналитика">
        <li class="course-directions-content__item">Разработка на C#<a href=""></a></li>
        <li class="course-directions-content__item">PHP-разработка<a href=""></a></li>
        <li class="course-directions-content__item">DevOps<a href=""></a></li>
        <li class="course-directions-content__item">IOS-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Верстка на HTML/CSS<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C++<a href=""></a></li>
        <li class="course-directions-content__item">
          Все курсы по программированию<a href=""></a>
        </li>
        <li class="course-directions-content__item">Python-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Web-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Мобильная разработка<a href=""></a></li>
        <li class="course-directions-content__item">JavaScript-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Java-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр<a href=""></a></li>
        <li class="course-directions-content__item">Создание сайтов<a href=""></a></li>
        <li class="course-directions-content__item">Системное администрирование<a href=""></a></li>
        <li class="course-directions-content__item">QA-тестирование<a href=""></a></li>
        <li class="course-directions-content__item">Android-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Управление разработкой и IT<a href=""></a></li>
        <li class="course-directions-content__item">Frontend-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр на Unity<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Финансы">
        <li class="course-directions-content__item">
          Все курсы по программированию<a href=""></a>
        </li>
        <li class="course-directions-content__item">Python-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Web-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Мобильная разработка<a href=""></a></li>
        <li class="course-directions-content__item">JavaScript-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Java-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр<a href=""></a></li>
        <li class="course-directions-content__item">Создание сайтов<a href=""></a></li>
        <li class="course-directions-content__item">Системное администрирование<a href=""></a></li>
        <li class="course-directions-content__item">QA-тестирование<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Kotlin<a href=""></a></li>
        <li class="course-directions-content__item">Информационная безопасность<a href=""></a></li>
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Управление">
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
      </ul>
      <ul class="course-directions-content__list" data-list-name="Контент-маркетинг">
        <li class="course-directions-content__item">
          Все курсы по программированию<a href=""></a>
        </li>
        <li class="course-directions-content__item">Python-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Web-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Мобильная разработка<a href=""></a></li>
        <li class="course-directions-content__item">JavaScript-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Java-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка игр<a href=""></a></li>
        <li class="course-directions-content__item">Создание сайтов<a href=""></a></li>
        <li class="course-directions-content__item">Системное администрирование<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на C++<a href=""></a></li>
        <li class="course-directions-content__item">
          Разработка игр на Unreal Engine<a href=""></a>
        </li>
        <li class="course-directions-content__item">Разработка на Kotlin<a href=""></a></li>
        <li class="course-directions-content__item">Информационная безопасность<a href=""></a></li>
        <li class="course-directions-content__item">Golang-разработка<a href=""></a></li>
        <li class="course-directions-content__item">Разработка на Swift<a href=""></a></li>
        <li class="course-directions-content__item">1C-разработка<a href=""></a></li>
        <li class="course-directions-content__item">VR/AR разработка<a href=""></a></li>
        <li class="course-directions-content__item">Фреймворк Laravel<a href=""></a></li>
      </ul>
    </div>
  </div>
</div>
