@use 'variables' as *;

:host {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  line-height: 33px;
  border: 1px solid $btn-base-border-color;
  border-radius: 50px;
  white-space: nowrap;

  font-weight: 600;
  font-size: 12px;
  transition: background-color linear 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-bg-light;
  }
  &.is-light {
    color: $light-text-color;
    border-color: $btn-light-border-color;
  }

  &.is-no-border {
    border: none;
    line-height: 24px;

    &:hover {
      background-color: transparent;
    }
  }

  &.is-small {
    font-size: 10px;
    color: $text-color-darks;
  }

  &.is-accent {
    color: $white;
    background-color: $accent-color-light;
    border-color: $accent-color-light;
  }
}
