@use 'variables' as *;

:host {
  display: block;
  padding: 0 $base-gutter;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 33px;

  border: 1px solid $btn-base-border-color;
  border-radius: 50px;

  font-weight: 600;
  font-size: 12px;
  transition: background-color linear 0.3s;
  cursor: pointer;

  position: relative;

  &:hover {
    background-color: $btn-hover-bg-light;
  }
  &.is-light {
    color: $light-text-color;
    border-color: $btn-light-border-color;
  }

  &.is-no-border {
    border: none;
    line-height: 24px;
  }
  &.is-small {
    font-size: 10px;
    color: $text-color-darks;
  }

  &.is-accent {
    color: $white;
    background-color: $btn-accent-bg-color;
    border-color: $btn-accent-border-color;
  }
}
