<div class="container">
  <app-breadcrumbs />

  <app-page-title
    [title]="'Онлайн-школы'"
    [description]="'Список онлайн-школ, преподающих Онлайн-курсы с рейтингом, отзывами и детальным описанием курса 2021 года. Подробные описания, цены, удобное сравнение характеристик курса.'"
  />

  <div class="page-content">
    <app-categories-filters />

    @if (schoolLines$ | async; as schoolLines) {
      <app-async-status [data]="schoolLines">
        <ng-template let-schoolLines>
          <app-school-list [schoolLines]="schoolLines" />
          <app-pagination />
        </ng-template>
      </app-async-status>
    }
  </div>
</div>
