<form class="filter" [formGroup]="form">
  <div class="filter__header">
    <span class="filter__title">Фильтры</span>
    <button class="filter__reset-btn" (click)="onReset()" aria-label="Сбросить фильтры">
      <svg class="filter__reset-icon">
        <use [attr.xlink:href]="'icons/sprite.svg#refresh'"></use>
      </svg>
    </button>
  </div>
  <div class="filter__body">
    <fieldset class="filter__group filter--reversed" formGroupName="payment">
      <legend class="filter__group-title">Цена</legend>
      <app-checkbox formControlName="paid">Платные</app-checkbox>
      <app-checkbox formControlName="free">Бесплатные</app-checkbox>
    </fieldset>

    <fieldset class="filter__group">
      <legend class="visually-hidden">Цена</legend>
      <app-range
        formControlName="price"
        [valuesPosition]="'bottom'"
        [min]="0"
        [max]="200000"
      />
    </fieldset>

    @if (showSchoolsFilter) {
      <fieldset class="filter__group" formGroupName="schools">
        <legend class="filter__group-title">Школы</legend>
        <app-checkbox formControlName="fa4e6b2b-b294-43f6-b9df-253042f62d89"
          >SkillFactory</app-checkbox
        >
        <app-checkbox formControlName="52b13618-f7f8-48b5-b57c-d1132df04823"
          >Geekbrains</app-checkbox
        >
        <app-checkbox formControlName="7aec4d3a-43e8-4f3c-8dce-afba64c4fc0d"
          >Netology</app-checkbox
        >
      </fieldset>
    }

    <fieldset class="filter__group" formGroupName="level">
      <legend class="filter__group-title">Уровень сложности</legend>
      <app-checkbox formControlName="junior">Начальный</app-checkbox>
      <app-checkbox formControlName="middle">Средний</app-checkbox>
      <app-checkbox formControlName="senior">Профессиональный</app-checkbox>
      <app-checkbox formControlName="children">Для детей</app-checkbox>
    </fieldset>

    <fieldset class="filter__group">
      <legend class="filter__group-title">Длительность (месяцев)</legend>
      <app-range
        formControlName="durationMonths"
        [valuesPosition]="'top'"
        [min]="1"
        [max]="12"
      />
    </fieldset>

    <fieldset class="filter__group" formGroupName="additional">
      <app-checkbox formControlName="internship">
        <span class="filter__group-title">Возможность стажировки</span>
      </app-checkbox>
      <app-checkbox formControlName="certificate">
        <span class="filter__group-title">Возможность получить сертификат</span>
      </app-checkbox>
    </fieldset>
  </div>
</form>
