@use 'variables' as *;

:host {
  padding: 28px 40px 22px 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $course-line-border-color;
  border-radius: $base-gutter;
  box-shadow: 0 9px 15px rgba(226, 226, 226, 0.25);

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.school {
  &__overview {
    font-weight: 700;
  }

  &__name {
    font-size: 18px;
    line-height: 27px;
  }

  &__review {
    font-size: 12px;
    line-height: 27px;
    color: $accent-color;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    line-height: 27px;
  }
  &__icon--rating {
    width: 14px;
    height: 14px;
  }

  &__details {
    margin-right: 147px;
  }

  &__full-name {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  &__courses-info {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
  }

  &__tags {
    display: flex;
    gap: 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 27px;
  }
}

.btn-details {
  padding: 0 33px;
}
