@use 'variables' as *;

:host {
  display: block;
  max-width: 948px;
}

.course-categories {
  display: flex;
  gap: 108px;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__columns {
    display: flex;
    gap: 67px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #2b2b2b;
    white-space: nowrap;

    &:hover {
      color: #00c213;
    }
  }
}
