@use 'variables' as *;

:host {
  display: block;
  padding: $base-gutter * 10 0;
}
.blog-preview {
  display: flex;
  gap: $base-gutter * 4;
}
.article-prev {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  font-weight: 600;
  border: 1px solid $article-prev-border-color;
  box-shadow: 0 4px 26px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
  overflow: hidden;

  &__img {
    background-color: #f2f2f2;
    height: $base-gutter * 41;
  }

  &__tag {
    position: absolute;
    left: $base-gutter * 5;
    top: $base-gutter * 5;
    color: $white;
    padding: 0 $base-gutter * 5;
    background-color: $article-prev-tag-bg-color;
    border-radius: 100px;
    font-size: 10px;
  }

  &__title {
    font-size: 18px;
  }

  &__body {
    padding: $base-gutter * 5;
  }

  &__footer {
    padding: 0 $base-gutter * 5 $base-gutter * 6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .is-light {
      padding: 0 24px;
    }
  }

  &__date {
    color: $light-text-color;
    font-size: 12px;
    line-height: 16px;
  }
}
