<div class="container">
  <app-breadcrumbs />

  @if (school$ | async; as school) {
    <app-async-status [data]="school">
      <ng-template let-school>
        <div class="school-header">
          <app-page-header [title]="school.name" [description]="school.description">
            <div class="school-header__info">
              <div class="school-header__rating">
                <app-star class="school-header__rating-star"></app-star>
                <span class="school-header__rating-value">
                  {{ school.ratingAvg | number: '1.0-1' : 'en-US' }}
                </span>
              </div>
              <app-button [routerLink]="'reviews'" class="school-header__reviews-btn">
                {{ school.reviewsCount }} отзывов
              </app-button>
            </div>
          </app-page-header>
        </div>
      </ng-template>
    </app-async-status>
  }

  <div class="page-content">
    <app-course-filter [showSchoolsFilter]="false" />

    <div class="school-courses">
      @if (courses$ | async; as courses) {
        <app-async-status [data]="courses">
          <ng-template let-courses>
            <span class="school-courses__title">
              {{ courses[0]?.school?.name }}
            </span>
            <app-course-list [courses]="courses"></app-course-list>
            <app-pagination />
          </ng-template>
        </app-async-status>
      }
    </div>
  </div>
</div>
