<div class="container header">
  <div class="logo header__logo"><span>Logo</span></div>
  <nav class="header__header-nav header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a class="header-nav__link" href="courses.html">Курсы</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="">Школы</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="">Отзывы о школах</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="">Акции школ</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="">Блог</a>
      </li>
    </ul>
  </nav>
  <div class="header__actions">
    <div class="header__compare-link compare-link">
      <a class="compare-link__link" href=""></a>
      <div class="compare-link__content">
        <img class="compare-link__icon" src="icons/compare.svg" alt="compare icon" />
        <span class="compare-link__counter">3</span>
      </div>
    </div>
    <form class="header__search-form search-form">
      <img class="search-form__icon" src="icons/search.svg" alt="" />

      <input class="search-form__input" placeholder="Искать курсы" />
    </form>
  </div>
</div>
