@use 'variables' as *;

:host {
  display: block;
  padding: $base-gutter * 10 0;
  color: #2b2b2b;
}
.body {
  display: flex;
  align-items: flex-start;
  margin: 0 -30px;
}

.nav {
  width: $base-gutter * 49;
  flex-shrink: 0;

  &__title {
    line-height: 50px;
    padding-left: $base-gutter * 6;
    pointer-events: none;
  }

  &__item {
    &:hover {
      background-color: $white;
      font-weight: 600;
    }
  }
  .is-active {
    font-weight: 700;
    background-color: $white;
  }
}

.content {
  flex: 1;
  background: $white;
  padding: $base-gutter * 2 0 $base-gutter * 2 $base-gutter * 7;

  &__list {
    display: none;
    columns: 3;
    column-gap: 20px;

    &.is-active {
      display: block;
    }
  }

  &__item {
    padding: 10px 60px 5px 0;
    position: relative;
    font-weight: 400;
    &:hover {
      color: $accent-color;
    }

    &:after {
      content: '';
      display: block;
      background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KDTxnIGlkPSJTVkdSZXBvX2JnQ2FycmllciIgc3Ryb2tlLXdpZHRoPSIwIi8+Cg08ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPGcgaWQ9IkFycm93IC8gQ2hldnJvbl9SaWdodCI+IDxwYXRoIGlkPSJWZWN0b3IiIGQ9Ik05IDVMMTYgMTJMOSAxOSIgc3Ryb2tlPSIjQzRDNEM0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPiA8L2c+IDwvZz4KDTwvc3ZnPg==);
      width: 15px;
      height: 15px;
      position: absolute;
      right: 40px;
      top: 15px;
      background-size: cover;
    }
  }

  &__link {
    color: inherit;
  }
}
