:host {
  display: flex;
  align-items: center;
  gap: 33px;
}

.school__rating {
  display: flex;
  gap: 15px;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
}
.school__icon--rating {
  width: 26px;
  height: 26px;
}

.school__review-btn {
  line-height: 18px;
  padding: 15px 48px;
  font-weight: 700;
  font-size: 14px;
}
