<span class="result">Найдено 6036 курсов</span>
<div class="filter">
  <div class="filter__header">
    <span class="filter__title">Фильтры</span>
    <button class="filter__reset-btn" aria-label="Сбросить фильтры">
      <svg class="filter__reset-icon">
        <use [attr.xlink:href]="'icons/sprite.svg#refresh'"></use>
      </svg>
    </button>
  </div>
  <div class="filter__body">
    <fieldset class="filter__group">
      <legend class="filter__group-title">Цена</legend>
      <app-checkbox>Платные</app-checkbox>
      <app-checkbox>Бесплатные</app-checkbox>
    </fieldset>

    <fieldset class="filter__group">
      <legend class="visually-hidden">Цена</legend>
      <app-range />
    </fieldset>

    <fieldset class="filter__group">
      <legend class="filter__group-title">Школы</legend>
      <app-checkbox>Skillbox</app-checkbox>
      <app-checkbox>Geekbrains</app-checkbox>
      <app-checkbox>IMBA</app-checkbox>
      <app-checkbox>LoftSchool</app-checkbox>
      <app-checkbox>ConvertMonster</app-checkbox>
    </fieldset>

    <fieldset class="filter__group">
      <legend class="filter__group-title">Уровень сложности</legend>
      <app-checkbox>Начальный</app-checkbox>
      <app-checkbox>Средний</app-checkbox>
      <app-checkbox>Профессиональный</app-checkbox>
      <app-checkbox>Для детей</app-checkbox>
    </fieldset>
  </div>
</div>
