<span class="result">Найдено 6036 курсов</span>
<div class="filter">
  <div class="filter__header">
    <span class="filter__title">Фильтры</span>
    <button class="filter__reset-btn" aria-label="Сбросить фильтры">
      <svg class="filter__reset-icon">
        <use [attr.xlink:href]="'icons/sprite.svg#refresh'"></use>
      </svg>
    </button>
  </div>
  <div class="filter__body">
    <fieldset class="filter__group">
      <legend class="filter__group-title">Цена</legend>
      <app-checkbox>Платные</app-checkbox>
      <app-checkbox>Бесплатные</app-checkbox>
    </fieldset>
    <!-- <div class="block">
      <div class="block__header">
        <div class="block__title">Школы</div>
      </div>
      <div class="block__body"></div>
    </div>
    <div class="block">
      <div class="block__header">
        <div class="block__title">Уровень сложности</div>
      </div>
      <div class="block__body"></div>
    </div>
    <div class="block">
      <div class="block__header">
        <div class="block__title">Длительность(месяцев)</div>
      </div>
      <div class="block__body"></div>
    </div> -->
  </div>
</div>
