@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
:host-context(.filter--reversed) .checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 12px;
  font-size: 14px;
}

.checkbox input {
  display: none;
}

.checkbox {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  line-height: $base-gutter * 4;
  font-size: 12px;
  font-weight: 400;

  &__box {
    width: 15px;
    height: 15px;
    transition: 0.2s;
    border: 1px solid $btn-dark-border-color;
    position: relative;
  }

  &:hover .checkbox__box {
    border-color: $btn-accent-bg-color;
  }
}

.checkbox input:checked + .checkbox__box {
  background-color: $btn-accent-bg-color;
  border-color: $btn-accent-bg-color;
}

.checkbox input:checked + .checkbox__box::after {
  content: '';
  width: 4px;
  height: 7px;

  position: absolute;
  top: 50%;
  left: 50%;
  border-right: 2px solid $white;
  border-bottom: 2px solid $white;

  transform: translate(-50%, -50%) rotate(45deg);
}
