@import '../../../../../styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  line-height: $base-gutter * 4;
  font-size: 12px;
  font-weight: 400;

  &__box {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $btn-dark-border-color;
    transition: 0.2s;
  }

  &:hover .checkbox__box {
    border-color: $btn-accent-bg-color;
  }
}

.checkbox input:checked + .checkbox__box {
  background-color: $btn-accent-bg-color;
  border-color: $btn-accent-bg-color;
}

.checkbox input {
  display: none;
}
