<div class="container">
  <h2>Школы</h2>
  <div class="schools-slider">
    @if (schools$ | async; as schoolsState) {
      @switch (schoolsState.status) {
        @case ('PENDING') {
          <p>Загрузка данных ...</p>
        }
        @case ('ERROR') {
          <p>Произошла ошибка ...</p>
        }
        @case ('EMPTY') {
          <p>Данные отстутствуют ...</p>
        }
        @case ('READY') {
          @for (imgUrl of schoolsState.data; track imgUrl) {
            <div class="schools-slider__item">
              <img [src]="imgUrl" alt="" />
            </div>
          }
        }
      }
    }
  </div>
</div>
