<div class="container">
  <h2>Школы</h2>
  <div class="schools-slider">
    <div class="schools-slider__item">
      <img src="/images/content/schools/netology.png" alt="" />
    </div>
    <div class="schools-slider__item">
      <img src="/images/content/schools/skillfactory.png" alt="" />
    </div>
    <div class="schools-slider__item">
      <img src="/images/content/schools/otus.png" alt="" />
    </div>
    <div class="schools-slider__item">
      <img src="/images/content/schools/geekbrains.png" alt="" />
    </div>
  </div>
</div>
