@use 'variables' as *;

:host {
  display: block;
}

.filter {
  padding: 18px 20px;
  border: 1px solid $article-prev-border-color;
  border-radius: 5px;

  &__title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
  }
}
