@font-face {
  font-family: 'FSElliotPro';
  src: url('../assets/fonts/FSElliotProRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FSElliotPro';
  src: url('../assets/fonts/FSElliotProBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FSElliotPro';
  src: url('../assets/fonts/FSElliotProHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'LisboaHeavy';
  src: url('../assets/fonts/LisboaHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
