@import 'variables';

h1 {
  margin-top: 0;
  margin-bottom: $base-gutter * 2;
  font-size: 36px;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: $base-gutter * 7;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}
