h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
  line-height: 1;
}

h2 {
  margin: 0 0 35px 0;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}
h3 {
  margin: 0 0 28px 0;
  font-size: 24px;
  line-height: 32px;
}
