$base-gutter: 5px;

$container-width: 1195px;

$main-bg-color: #f6f6f6;
$white: #fff;
$base-text-color: #2b2b2b;
$light-text-color: #b5b5b5;
$light-text-color-dark: #7e7e7e;
$text-color-darks: #8c8c8c;
$course-columns-item-color: #8c8c8c;

$pagination-hover-bg: rgba(1, 228, 92, 0.15);

$accent-color: #00d254;
$accent-color-light: #01e45c;
$base-border-color: #ededed;

$footer-bg-color: #000;
$footer-line-color: #373737;
$footer-text-color: #b5b5b5;

$article-prev-border-color: #f0f0f0;
$article-prev-tag-bg-color: #2b2b2b;

$course-line-border-color: #f0f0f0;

$btn-base-border-color: #2b2b2b;
$btn-light-border-color: #b5b5b5;
$btn-dark-border-color: #c9c9c9;
$btn-hover-bg-light: #f2f2f2;
