@use 'variables' as *;

:host {
  display: block;
  padding: $base-gutter * 10 0;
}

.advantages {
  display: flex;
  padding-top: $base-gutter * 8;
  gap: $base-gutter * 14;

  &__header {
    display: flex;
    margin-bottom: $base-gutter * 5;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    white-space: pre-line;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: $base-gutter * 6;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    color: $light-text-color-dark;
    letter-spacing: 0.5px;
  }
}
