<div class="footer">
  <div class="footer-top">
    <div class="container">
      <nav class="footer-nav">
        <div class="footer-nav-block">
          <span class="footer-nav-block__title">Категории</span>
          <ul class="footer-nav-block__list">
            <li><a href="">Программирование</a></li>
            <li><a href="">Маркетинг</a></li>
            <li><a href="">Дизайн</a></li>
            <li><a href="">Управление</a></li>
            <li><a href="">Контент-маркетинг</a></li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <span class="footer-nav-block__title">Школы</span>
          <ul class="footer-nav-block__list">
            <li><a href="">Skillbox</a></li>
            <li><a href="">Geekbrains</a></li>
            <li><a href="">Нетология</a></li>
            <li><a href="">Skillfactory</a></li>
            <li><a href="">Convertmonster</a></li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <span class="footer-nav-block__title">Отзывы о школах</span>
          <ul class="footer-nav-block__list">
            <li><a href="">Отзывы о Skillbox</a></li>
            <li><a href="">Отзывы о Geekbrains</a></li>
            <li><a href="">Отзывы о Нетология</a></li>
            <li><a href="">Отзывы о Skillfactory</a></li>
            <li><a href="">Отзывы о Convertmonster</a></li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <span class="footer-nav-block__title">Курсы</span>
          <ul class="footer-nav-block__list">
            <li><a href="">С дипломом</a></li>
            <li><a href="">С трудоустройстовом</a></li>
            <li><a href="">Платные</a></li>
            <li><a href="">Бесплатные</a></li>
            <li><a href="">Ближайшие по дате старта</a></li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <span class="footer-nav-block__title">Уровень сложности</span>
          <ul class="footer-nav-block__list">
            <li><a href="">Начальный</a></li>
            <li><a href="">Средний</a></li>
            <li><a href="">Профессиональный</a></li>
            <li><a href="">Для детей</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content">
        <div class="small-logo footer__small-logo">
          <span>Logo</span>
        </div>
        <span class="copyright">© 2021. Logo. Все права защищены</span>
        <div class="footer-bottom__right">
          <ul class="social-list">
            <li class="social-list__item">
              <svg class="icon icon-vk">
                <use xlink:href="icons/sprite.svg#vk"></use>
              </svg>
            </li>
            <li class="social-list__item">
              <svg class="icon icon-telegram">
                <use [attr.xlink:href]="'icons/sprite.svg#telegram'"></use>
              </svg>
            </li>
            <li class="social-list__item">
              <svg class="icon icon-instagram">
                <use [attr.xlink:href]="'icons/sprite.svg#instagram'"></use>
              </svg>
            </li>
            <li class="social-list__item">
              <svg class="icon icon-youtube">
                <use [attr.xlink:href]="'icons/sprite.svg#youtube'"></use>
              </svg>
            </li>
            <li class="social-list__item">
              <svg class="icon icon-fb">
                <use [attr.xlink:href]="'icons/sprite.svg#fb'"></use>
              </svg>
            </li>
          </ul>
          <a class="user-agreement" href="">Пользовательское соглашение</a>
        </div>
      </div>
    </div>
  </div>
</div>
