<app-banner />
<app-advantages class="bg-white" />

<app-course-directions-tabs />

@if (schools$ | async; as schoolsData) {
  <app-async-status [data]="schoolsData">
    <ng-template let-schoolsData>
      <app-schools-slider [schoolsData]="schoolsData" class="bg-white" />
    </ng-template>
  </app-async-status>
}

@if (courseLines$ | async; as courseLines) {
  <app-async-status [data]="courseLines">
    <ng-template let-courseLines>
      <app-popular-courses [courseLines]="courseLines" class="bg-white" />
    </ng-template>
  </app-async-status>
}

<app-blog-preview class="bg-white" />
