.reviews-stats {
  min-width: 380px;
  margin: 20px 0 18px 0;

  &__count {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
  }

  &__lines {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }

  &__line {
    display: flex;
    padding: 0 12px 0 22px;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__key {
    flex-shrink: 0;
    width: 135px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
  }

  &__value {
    flex-grow: 1;
    padding-left: 11px;
    margin: 10px 0;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #e7eafc;
  }
}
