:host {
  display: inline-flex;
  gap: 11px;
}

.rating__star {
  width: 26px;
  height: 26px;
  fill: transparent;
  stroke: #e9e9e9;
  cursor: pointer;
  transition: 0.2s;
}

.rating__star--active {
  fill: #ffb800;
  stroke: #ffb800;
}
