@import '../../../../../styles/variables.scss';

:host {
  display: block;
  height: 100%;
  padding: $base-gutter * 5 0;
  background-color: $white;
}
.tab-section {
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}

.body {
  display: grid;
  grid-template-columns: 246px 960px;
  gap: 20px;
  padding-top: $base-gutter * 10;
  max-width: 1226px;
  margin: 0 auto;
}
