@use 'variables' as *;

.feature {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 18px;
    width: 12px;
    height: 12px;
  }

  &__text {
    font-size: 12px;
    line-height: 24px;
  }
}
