<div class="course-categories">
  <div class="course-categories__columns">
    <ul class="course-categories__list">
      <li><a href="#" class="course-categories__link">Python-разработка</a></li>
      <li><a href="#" class="course-categories__link">Web-разработка</a></li>
      <li><a href="#" class="course-categories__link">Мобильная разработка</a></li>
      <li><a href="#" class="course-categories__link">JavaScript-разработка</a></li>
      <li><a href="#" class="course-categories__link">Java-разработка</a></li>
      <li><a href="#" class="course-categories__link">Разработка игр</a></li>
      <li><a href="#" class="course-categories__link">Создание сайтов</a></li>
      <li>
        <a href="#" class="course-categories__link">Системное администрирование</a>
      </li>
      <li><a href="#" class="course-categories__link">QA-тестирование</a></li>
      <li>
        <a href="#" class="course-categories__link">Управление разработкой и IT</a>
      </li>
    </ul>
    <ul class="course-categories__list">
      <li><a href="#" class="course-categories__link">Android-разработка</a></li>
      <li><a href="#" class="course-categories__link">Frontend-разработка</a></li>
      <li>
        <a href="#" class="course-categories__link">Разработка игр на Unity</a>
      </li>
      <li><a href="#" class="course-categories__link">Разработка на C#</a></li>
      <li><a href="#" class="course-categories__link">PHP-разработка</a></li>
      <li><a href="#" class="course-categories__link">DevOps</a></li>
      <li><a href="#" class="course-categories__link">Верстка на HTML/CSS</a></li>
      <li><a href="#" class="course-categories__link">IOS-разработка</a></li>
      <li><a href="#" class="course-categories__link">Разработка на C++</a></li>
      <li><a href="#" class="course-categories__link">Фреймворк Django</a></li>
    </ul>
  </div>
  <div class="course-categories__columns">
    <ul class="course-categories__list">
      <li>
        <a href="#" class="course-categories__link">Разработка игр на Unreal Engine</a>
      </li>
      <li><a href="#" class="course-categories__link">Фреймворк Node.js</a></li>
      <li><a href="#" class="course-categories__link">Разработка на Kotlin</a></li>
      <li>
        <a href="#" class="course-categories__link">Информационная безопасность</a>
      </li>
      <li><a href="#" class="course-categories__link">Golang-разработка</a></li>
      <li><a href="#" class="course-categories__link">Разработка на Swift</a></li>
      <li><a href="#" class="course-categories__link">Фреймворк ReactJS</a></li>
      <li><a href="#" class="course-categories__link">Фреймворк Spring</a></li>
      <li><a href="#" class="course-categories__link">VR/AR разработка</a></li>
      <li><a href="#" class="course-categories__link">1C-разработка</a></li>
    </ul>
    <ul class="course-categories__list">
      <li><a href="#" class="course-categories__link">Фреймворк Laravel</a></li>
      <li><a href="#" class="course-categories__link">Фреймворк Flutter</a></li>
      <li><a href="#" class="course-categories__link">Работа с GIT</a></li>
    </ul>
  </div>
</div>
