@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: $base-gutter * 5 0;
  background-color: $white;
}

.tab-section {
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}

.courses-content {
  max-width: 1226px;
  margin: 0 auto 100px;
  padding-top: $base-gutter * 10;
  display: grid;
  grid-template-columns: 246px 960px;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.course-categories {
  margin-top: 70px;
}
.schools {
  margin-top: 50px;
}
