@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: $base-gutter * 5 0;
  background-color: $white;
}

.tab-section {
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}

.course-categories {
  margin-top: 70px;
}
.schools {
  margin-top: 50px;
}
