@use 'variables' as *;

:host {
  display: block;
  padding: $base-gutter * 5 0;
  background-color: $white;
}

.tab-section {
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}

.courses-content {
  max-width: 1226px;
  margin: 0 auto 100px;
  padding-top: $base-gutter * 10;
  display: grid;
  grid-template-columns: 246px 960px;
  gap: 20px;
}
.direction-related {
  margin-top: 80px;

  &__categories {
    max-width: 948px;
    margin-bottom: 50px;
    display: flex;
    gap: 108px;

    justify-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__columns {
    display: flex;
    gap: 67px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #2b2b2b;
    white-space: nowrap;

    &:hover {
      color: #00c213;
    }
  }
}
