<div class="container">
  <app-breadcrumbs />
  <app-page-header title="Онлайн-курсы">
    <span>
      Список всех онлайн-курсов с рейтингом, отзывами и детальным описанием курса 2021
      года. Для удобства поиска курса используйте фильтры, сортировку, сравнение и поиск.
      <br />
      Мы обновляем информацию о всех курсах каждую неделю.
    </span>
  </app-page-header>
</div>

<div class="tab-section">
  <div class="container">
    <app-tab-navigation class="is-wide" />
  </div>
</div>

<div class="page-content">
  <app-listing-filters />

  <div class="main">
    <app-course-list-sort-header />

    <app-course-list [cardPadding]="'23px 23px 18px 30px'" [showLoadMore]="false" />

    <div class="course-categories">
      <app-course-categories
        [title]="'Другие категории курсов по направлению программирование'"
      />
    </div>

    <div class="schools">
      <h3>Онлайн-школы преподающие программирование</h3>
      <!-- @for (school of schools; track school.id) {
        <app-school-card
          [school]="school"
          style="--details-school-border: 1px solid #f0f0f0"
        />
      } -->
    </div>
  </div>
</div>
