<div class="container">
  <app-breadcrumbs />

  <app-page-title
    [title]="'Онлайн-курсы'"
    [description]="'Список всех онлайн-курсов с рейтингом,отзывами и детальным описанием курса 2021 года. Для удобства поиска курса используйтефильтры, сортировку, сравнение и поиск. Мы обновляем информацию о всех курсах каждую неделю.'"
  />
</div>

<div class="tab-section">
  <div class="container">
    <app-categories-tabs class="is-wide" />
  </div>
</div>

<div class="page-content">
  <app-course-filter [displayTitle]="true" />

  <div class="main">
    <app-course-sorting />

    @if (courseLines$ | async; as courseLines) {
      <app-async-status [data]="courseLines">
        <ng-template let-courseLines>
          <app-course-list [courseLines]="courseLines" />
        </ng-template>
      </app-async-status>
    }

    <div class="course-categories">
      <app-course-categories
        [title]="'Другие категории курсов по направлению программирование'"
      />
    </div>

    <div class="school-list">
      <h3>Онлайн-школы преподающие программирование</h3>
      @if (schoolLines$ | async; as schoolLines) {
        <app-async-status [data]="schoolLines">
          <ng-template let-schoolLines>
            <app-school-list [schoolLines]="schoolLines" />
          </ng-template>
        </app-async-status>
      }
    </div>
  </div>
</div>
