@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: $base-gutter * 5 0;
  background-color: $white;
}

.tab-section {
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}
.course-categories {
  margin-top: 70px;
}

.courses-list {
  --block-padding: 23px 23px 15px 30px;
  --button-stack-gap: 4px;
  --availability-direction: column;
  --availability-gap: 8px;
  --availability-text-align: center;
}

.school-list {
  --school-overview-border-left: 1px solid #f0f0f0;
  --school-overview-border-right: 1px solid #f0f0f0;
  margin-top: 50px;
}
