@use 'variables' as *;

:host {
  padding: 0 41px 0 38px;
  min-height: 134px;
  max-height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $course-line-border-color;
  border-radius: $base-gutter;
  box-shadow: 0 9px 15px rgba(226, 226, 226, 0.25);

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.btn-details {
  padding: 0 33px;
}
