<!-- <div class="school__overview">
  <span class="school__name">{{ school.school.name }}</span>
  <div class="school__rating">
    <svg class="school__icon--rating">
      <use [attr.xlink:href]="'icons/sprite.svg#rating'"></use>
    </svg>
    <span>{{ school.school.rating }}</span>
  </div>
  <span class="school__review">{{ school.school.review }}</span>
</div>

<div class="school__details">
  <h3 class="school__full-name">Skillbox (Скилбокс)</h3>
  <span class="school__courses-info">178 курсов по 48 темам</span>
  <div class="school__tags">
    <app-chip class="school__chip">Программирование</app-chip>
    <app-chip class="school__chip">Дизайн</app-chip>
  </div>
</div>

<app-button class="is-accent btn-details">Подробнее</app-button> -->
