@import '../../../../styles/variables';

.course-list-header {
  margin-bottom: $base-gutter * 5;
  padding-left: 30px;
  display: flex;

  & > * {
    &:not(:last-child) {
      margin-right: $base-gutter * 2;
    }
  }

  &__text {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: $course-columns-item-color;
  }

  &__control {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: $course-columns-item-color;
  }

  &__item {
    &:not(:nth-last-child(-n + 2)) {
      .course-list-header__control {
        position: relative;
        padding-right: 10px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
        }

        &::before {
          top: 45%;
          border-bottom: 3.5px solid $course-columns-item-color;
          transform: translateY(-90%);
        }

        &::after {
          top: 60%;
          border-top: 3.5px solid $course-columns-item-color;
          transform: translateY(0);
        }
      }
    }
  }

  &__item--name {
    flex: 0 0 $base-gutter * 31;
  }
  &__item--school {
    flex: 0 0 $base-gutter * 27;
  }
  &__item--price {
    flex: 0 0 $base-gutter * 28;
  }
  &__item--duration {
    flex: 0 0 $base-gutter * 21;
  }
  &__item--advantages {
    flex: 0 0 $base-gutter * 24;
  }
  &__item--link {
    flex: 0 0 $base-gutter * 44;
  }
}
