@use 'variables' as *;

.list {
  display: flex;
  gap: 4px;
  margin-bottom: $base-gutter * 6.6;
  justify-content: center;
  margin-bottom: 0;

  &.is-wide {
    justify-content: flex-start;
    margin: 0 -20px;
  }
}
.m-bt {
  margin-bottom: 30px;
}
.list app-async-status {
  display: contents;
}

.item {
  padding: 0 $base-gutter * 4;
  border-radius: 50px;
  font-weight: 600;
  line-height: 40px;
  cursor: pointer;
  transition: background-color linear 0.3s;

  &:hover,
  &.is-active {
    background-color: $accent-color;
    color: $white;
  }
}
