@import '../../../../styles/variables.scss';

:host {
  display: block;
  padding: 55px 0 70px 0;
}

.advantages {
  display: flex;
  gap: $base-gutter * 14;

  &__header {
    display: flex;
    margin-bottom: $base-gutter * 5;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    white-space: pre-line;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: $base-gutter * 6;
  }

  &__description {
    color: $light-text-color;
  }
}
