<div class="container">
  <app-breadcrumbs />

  @if (school$ | async; as school) {
    <app-async-status [data]="school">
      <ng-template let-school>
        <app-page-header class="school-page__header">
          <div class="school-page__header-title">
            <app-page-title [title]="school.name" [description]="school.description" />
          </div>

          <div class="school-page__header-info">
            <app-school-rating
              class="school-page__rating"
              [ratingAvg]="school.ratingAvg"
            />

            <app-button class="school-page__reviews-btn">
              {{ school.reviewsCount }} отзывов
            </app-button>
          </div>
        </app-page-header>

        <div class="page-content">
          <app-course-filter [displayTitle]="false" />

          <div class="school-page__courses">
            <span class="school-page__courses-title">Все курсы {{ school.name }}</span>
            @if (courseLines$ | async; as courseLines) {
              <app-async-status [data]="courseLines">
                <ng-template let-courseLines>
                  <app-course-list [courseLines]="courseLines" />
                  <app-pagination />
                </ng-template>
              </app-async-status>
            }
          </div>
        </div>
      </ng-template>
    </app-async-status>
  }
</div>
