:host {
  display: block;
  margin-top: 20px;
  padding: 34px 40px 30px 40px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  transition: all linear 0.3s;

  &:hover {
    background-color: #f6f7ff;
    border: 1px solid transparent;
  }
}
.review-card__header {
  display: flex;
  justify-content: space-between;
}

.review-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.review-card__text {
  display: inline-block;
  margin: 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.review-card__footer {
  display: flex;
  justify-content: space-between;
}

.review-card__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #00c213;
}

.review-card__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: #8c8c8c;
}
