<div class="review-card__header">
  <span class="review-card__title">Обучение на факультете веб-разработки.</span>
  <span class="review-card__rating">★★★★★</span>
</div>
<span class="review-card__text">
  Всем привет! Хочу поделиться своим впечатлением об образовательном портале GeekBrains.
  На сегодняшний день я являюсь студентом факультета веб-разработки. Занятия длятся уже 8
  месяцев.
  <br />
  Выбирал я образовательную платформу очень скурпулезно и остановился на гиках
</span>
<div class="review-card__footer">
  <button class="review-card__button">Читать полностью -></button>
  <span class="review-card__author">Игорь, 2 месяца назад</span>
</div>
