@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: $base-gutter * 5 0;
  background-color: $white;
}

.search-result {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 17px;
  color: $accent-color;
  margin-bottom: $base-gutter * 5;
}

.tab-section {
  margin: 20px 0;
  padding: $base-gutter * 3 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}
.course-categories {
  margin-top: 70px;
}

.course-list {
  --block-padding: 23px 23px 15px 30px;
  --button-stack-gap: 4px;
  --availability-direction: column;
  --availability-gap: 8px;
  --availability-text-align: center;
}

.school-list {
  --school-overview-border-left: 1px solid #f0f0f0;
  --school-overview-border-right: 1px solid #f0f0f0;
  margin-top: 50px;
}

.title {
  display: inline-block;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
