@use 'variables' as *;
@use 'typography' as *;
@use 'fonts' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: FSElliotPro, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $base-text-color;
  background-color: $main-bg-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}

.bg-white {
  background-color: $white;
}
