@import './styles/variables';
@import './styles/fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $base-text-color;
  background-color: $main-bg-color;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin-bottom: $base-gutter * 10;
  margin-top: 0;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
}

.content {
  flex: 1;
}
.bg-white {
  background-color: $white;
}
