@import './styles/variables';
@import './styles/fonts';
@import './styles/typography.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: FSElliotPro, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $base-text-color;
  background-color: $main-bg-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
}

.content {
  flex: 1;
}
.bg-white {
  background-color: $white;
}
.section {
  padding: $base-gutter * 10 0;
}
