<div class="school__overview">
  <span class="school__name">{{ school.name }}</span>
  <div class="school__rating">
    <svg class="school__icon--rating">
      <use [attr.xlink:href]="'icons/sprite.svg#rating'"></use>
    </svg>
    <span>{{ school.ratingAvg }}</span>
  </div>
  <span class="school__review"> Отзывы о школе {{ school.reviewsCount }}</span>
</div>

<div class="school__details">
  <h3 class="school__full-name">{{ school.name }} ({{ school.transliteration }})</h3>
  <span class="school__courses-info"
    >{{ school.coursesCount }} курсов по {{ school.categoriesCount }} темам</span
  >
  <div class="school__tags">
    @for (category of school.categories; track $index) {
      <div class="school__tag">{{ category.title }}</div>
    }
  </div>
</div>

<app-button class="is-accent btn-details">Подробнее</app-button>
